<header class="home-page avoid ng-scope un-avoid">
    <div class="wrap-heard" style="display: block;">
        <div class="header-Ico"></div>
        <a href="{url:/index/category}">
            <span class="head-typeimg"></span>
        </a>
    </div>
    <div class="wrap-menuNavNewProduct" title="分类导航条">
        <div class="menuNavNewProductPanel">
            <ul class="menuNavNewProduct">
                <li class="ng-scope">
                    <a class="font-large" href="{url:/index/category/cid/all}">全部商品</a>
                </li>
                {list:items=$category item=$categ}
                <li class="ng-scope">
                    <a class="font-large" href="{url:/index/category/cid/$categ[id]}">{$categ['title']}</a>
                </li>
                {if: $categ['child']}
                {list:items=$categ['child'] item=$child}
                <li class="ng-scope">
                    <a class="font-large" href="{url:/index/category/cid/$child[id]}">{$child['title']}</a>
                </li>
                {/list}
                {/if}
                {/list}
            </ul>
        </div>
        <div class="menuNavNewProductDetailsimg">
            <i id="rightmove" class="chkDetailsimg btnright" onclick="rightMove();"></i>
        </div>
    </div>
</header>

<article class="home-body avoid ng-scope un-avoid">

    <div class="scroll">
        <div class="scroll-container swiper-container">
            <div class="swiper-wrapper">
                {list: items=$lunbo}
                    <div class="swiper-slide"><a href="{$item['url']}" class=""><img src="{$item['image_url']}" title="{$item['title']}" width="100%" /></a></div>
                {/list}
            </div>
        </div>
        <div class="dot"></div>
    </div>
    <script>
        var mySwiper = new Swiper('.scroll-container',{
            pagination: '.dot',
            autoplay:3000,
            loop:true,
            grabCursor: true,
            paginationClickable: true,
            cssHeight:false,
            calculateHeight:true
        });
    </script>


    <div class="ng-scope">
        <div class="wrap-dailyNewProduct ng-scope">
            <div>
                <input type="hidden" id="page-product" value="21">
                <dl class="vipbestlove-list">

                </dl>
                <div style="text-align: center;" id="carts-link font-medium" class="loadmore">
                    <a style="border: 1px solid #d71515;padding: 0.5rem 1.5rem;display: inline-block;border-radius: 6px;font-size: 1.5rem;letter-spacing: 1px;margin-top: 1rem;color: #d71515;">加载更多...</a>
                </div>
            </div>
        </div>

    </div>
</article>

<script>

    $(document).ready(function(e) {
        loadMore();

    });

    $('.loadmore').on('touchstart',function(){
         loadMore();
    });

    function loadMore(){
        var page = $('#page-product').val();

        if(page != 'no data'){
            $.post("{url:/ajax/index_product}", {page: page},function(data){
                if(data.data){
                    if(data.page != 'no data'){
                        page = parseInt(page)+1;
                    }else{
                        page = data.page;
                    }
                    $('#page-product').val(page);
                    for(i in data.data){
                        var row,iTempHeight,iHeight;
                        iHeight = -1;

                        $('.vipbestlove-list dd').each(function(){
                            iTempHeight = Number( $(this).height() );

                            if(iHeight==-1 || iHeight>iTempHeight)
                            {
                                iHeight = iTempHeight;
                                row = $(this);
                            }
                        });

                        if(row){
                            var html = '<dd class="vipbestlove-item ng-scope" href="#" style="padding: 0;">';
                            html +='<a href="'+data.data[i].url+'">';
                            html +='<img style="min-height: 100px" src="'+data.data[i].image+'"><div class="wrap-doc-vipbestlove"><div class="title font-medium">'+data.data[i].name+'</div><div><span class="spanSale font-medium"></span><span class="salePrice font-medium">'+data.data[i].price+'</span></div></div></a></dd>';

                            row.after(html);
                        }else{
                            row = $('.vipbestlove-list');

                            var html = '<dd class="vipbestlove-item ng-scope" href="#" style="padding: 0;">';
                            html +='<a href="'+data.data[i].url+'">';
                            html +='<img style="min-height: 100px" src="'+data.data[i].image+'"><div class="wrap-doc-vipbestlove"><div class="title font-medium">'+data.data[i].name+'</div><div><span class="spanSale font-medium"></span><span class="salePrice font-medium">'+data.data[i].price+'</span></div></div></a></dd>';

                            row.append(html);
                        }

                    }
                }

            },"json");
        }else{
            $('.loadmore').html('<a style="border: 1px solid #d71515;padding: 0.5rem 1.5rem;display: inline-block;border-radius: 6px;font-size: 1.5rem;letter-spacing: 1px;margin-top: 1rem;color: #d71515;">已经全部显示了</a>');
        }
    }
</script>