<header class="home-page avoid ng-scope un-avoid">
    <div class="wrap-heard" style="display: block;">
        <div class="header-Ico"></div>
        <a href="{url:/index/category}">
            <span class="head-typeimg"></span>
        </a>
    </div>
    <div class="wrap-menuNavNewProduct" title="分类导航条">
        <div class="menuNavNewProductPanel">
            <ul class="menuNavNewProduct">
                <li class="ng-scope">
                    <a class="font-large" href="{url:/index/category/cid/all}">全部商品</a>
                </li>
                {list:items=$category item=$categ}
                <li class="ng-scope">
                    <a class="font-large" href="{url:/index/category/cid/$categ[id]}">{$categ['title']}</a>
                </li>
                {if: $categ['child']}
                {list:items=$categ['child'] item=$child}
                <li class="ng-scope">
                    <a class="font-large" href="{url:/index/category/cid/$child[id]}">{$child['title']}</a>
                </li>
                {/list}
                {/if}
                {/list}
            </ul>
        </div>
        <div class="menuNavNewProductDetailsimg">
            <i id="rightmove" class="chkDetailsimg btnright" onclick="rightMove();"></i>
        </div>
    </div>
</header>

<article class="home-body avoid ng-scope un-avoid">

    <div class="scroll">
        <div class="scroll-container swiper-container">
            <div class="swiper-wrapper">
                {list: items=$lunbo}
                    <div class="swiper-slide"><a href="{$item['url']}" class=""><img src="{$item['image_url']}" title="{$item['title']}" width="100%" /></a></div>
                {/list}
            </div>
        </div>
        <div class="dot"></div>
    </div>
    <script>
        var mySwiper = new Swiper('.scroll-container',{
            pagination: '.dot',
            autoplay:3000,
            loop:true,
            grabCursor: true,
            paginationClickable: true,
            cssHeight:false,
            calculateHeight:true
        });
    </script>


    <div class="ng-scope">
        <div class="wrap-dailyNewProduct ng-scope">
            <div>
                <dl class="vipbestlove-list">
                    {list:items=$category item=$categ}
                        {set:$path_like = "like '$categ[path]%'";}
                        {query:name=goods where= is_online eq 0 and category_id in (select id from tiny_goods_category where path $path_like) order=sort desc limit=10}
                        <dd class="vipbestlove-item ng-scope" href="#" style="padding: 0;">
                            <a href="{url:/index/product/id/$item[id]}">
                                <img style="min-height: 100px" src="{echo:Common::thumb($item['img'],400,400);}">
                                <div class="wrap-doc-vipbestlove">
                                    <div class="title font-medium">{$item['name']}</div>
                                    <div>
                                        <span class="spanSale font-medium"></span>
                                        <span class="salePrice font-medium">{$currency_symbol}{if: $item['branchstore_sell_price']} {$item['branchstore_sell_price']} {else:} {$item['sell_price']} {/if}</span>
                                    </div>
                                </div>
                            </a>
                        </dd>
                        {/list}
                    {/list}
                </dl>
            </div>
        </div>

    </div>
</article>