data/database/*
data/uploads
themes-sass/
installcomplete/
cache/
runtime/
protected/config/mapper_local.php
protected/config/config_local.php
protected/config/system.php

.idea
.tags
.tags_sorted_by_file
update.txt
*.zip
*.tar
.DS_Store

#composer related
vendor
composer.phar
