data/database/*
data/uploads/head/*
themes-sass/
installcomplete/
cache/
runtime/
protected/config/mapper_local.php
protected/config/config_local.php

.idea
.tags
.tags_sorted_by_file
update.txt
*.zip
*.tar