{echo:JS::import('highcharts')}
{echo:JS::import('form')}
{widget:name=count action=cal}
<div class="tools_bar clearfix">
    <form action="{url:/count/index}" method="post">
        <span class="fl">时间：<input name="s_time" type="text" value="{$s_time}" id="datepick" class="middle" readonly="readonly"></span><a href="javascript:tools_submit();" id="condition" class="icon-search" style=""> 查询</a>
        <span class="fl">
            {if: $select_branch}
                <select name="storename">
                    <option value="all">所有店铺</option>
                    {list: items=$select_branch}
                    <option value="{$item}">{$item}</option>
                    {/list}
                </select>
            {/if}
        </span>
    </form>
</div>

<div style="margin: 30px;">
    <div style="font-size: 16px;border: dashed; padding: 30px;width: 130px;">新增订单数:<br><span style="padding: 80px;">{$new_orders_num}</span></div>
</div>

<div id="container"></div>
<script>
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'areaspline'
            },
            title: {
                text: '{$s_time}订单统计报表'
            },
            xAxis: {
                categories: [
                    {$month}
                ],
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '营业额 (元)'
                }
            },

            tooltip: {
                headerFormat: '{point.key}<br/>',
                pointFormat: '{series.name}: <b>{point.y:.2f} 元</b>',
                valueSuffix: '元'
            },
            series: [{
                name: '营业额',
                data: [{$real_data}],
                dataLabels: {
                    enabled: true,
                    // rotation: -90,
                    color: '#000',
                    //align: 'top',
                    x: 4,
                    y: -6,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'//,
                        //textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });

</script>
