<div class="html chats">
    <div class="active-users">
        <div class="user clearfix rotateInDownLeft animated">
            <div class="photo pull-left">
                <img src="img/133.jpg">
            </div>
            <div class="desc pull-left">
                <p class="name">Connor Hartigan</p>
                <p class="position">Web &amp; UI Designer</p>
            </div>
            <div class="idle pull-right"><span class="away"></span></div>
        </div>
        <div class="user clearfix rotateInDownRight animated">
            <div class="photo pull-left">
                <img src="img/132.jpg">
            </div>
            <div class="desc pull-left">
                <p class="name">Jacob Lennon</p>
                <p class="position">Front-End Developer</p>
            </div>
            <div class="idle pull-right"><span class="offline"></span></div>
        </div>
        <div class="user clearfix rotateInDownLeft animated">
            <div class="photo pull-left">
                <img src="img/131.jpg">
            </div>
            <div class="desc pull-left">
                <p class="name">Didier Mailly</p>
                <p class="position">Co-Founder</p>
            </div>
            <div class="idle pull-right"><span class="away"></span></div>
        </div>
        <div class="user clearfix rotateInDownRight animated">
            <div class="photo pull-left">
                <img src="img/130.jpg">
            </div>
            <div class="desc pull-left">
                <p class="name">Miguel Cunha Ferreira</p>
                <p class="position">Sales Manager</p>
            </div>
            <div class="idle pull-right"><span class="online"></span></div>
        </div>
        <div class="user clearfix rotateInDownLeft animated">
            <div class="photo pull-left">
                <img src="img/129.jpg">
            </div>
            <div class="desc pull-left">
                <p class="name">Eric Yuriev</p>
                <p class="position">App Developer</p>
            </div>
            <div class="idle pull-right"><span class="online"></span></div>
        </div>
        <div class="user clearfix rotateInDownRight animated">
            <div class="photo pull-left">
                <img src="img/128.jpg">
            </div>
            <div class="desc pull-left">
                <p class="name">Theodore Clark</p>
                <p class="position">Project Manager</p>
            </div>
            <div class="idle pull-right"><span class="online"></span></div>
        </div>
    </div>
</div>