<header class="header ng-scope">
    <div class="header-content" onclick="history.back();return false;">
        <label class="leftback-img"></label>
        <p class="header-title">修改账户登录密码</p>
    </div>
</header>

<article class="uscenter-cont ng-scope">
{set: $footer='user';}
    <form class="ng-pristine ng-invalid ng-invalid-required" method="post" action="{url:/ucenter/password_save}">
        <div class="filler">
        </div>
        <ul class="fm-list m-none">
            <li>
                <div class="field-tt">旧密码：</div>
                <input class="field-ipt ng-pristine ng-untouched ng-invalid ng-invalid-required" type="password" placeholder="请输入旧密码" id="passwd_old">
            </li>
            <li>
                <div class="field-tt">新密码：</div>
                <input class="field-ipt ng-pristine ng-untouched ng-invalid ng-invalid-required" type="password" placeholder="密码必须是6-20位字母、数字或符号" id="passwd_new">
            </li>
            <li>
                <div class="field-tt">确认密码：</div>
                <input class="field-ipt ng-pristine ng-untouched ng-invalid ng-invalid-required" type="password" placeholder="请再次填写密码" id="passwd_re">
            </li>
        </ul>
        <input class="btn-com space m-top" type="button" ng-click="confirm()" value="确认" onclick="dosubmit()">
    </form>

</article>
<script type="text/javascript" src="{url:#js/msg.js}"></script>

<link type="text/css" href="{url:#css/ajax.css}" rel="stylesheet" />
<script type="text/javascript">
    function dosubmit(){
        var passwd_old = $("#passwd_old").val();
        var passwd_new = $("#passwd_new").val();
        var passwd_re = $("#passwd_re").val();

        $.post('{url:/ucenter/password_save}',{oldpassword:passwd_old,password:passwd_new,repassword:passwd_re},function(data){
            msg(data.info);
            if(data.status == 1){
                window.location.href="{url:/simple/logout}";
            }
        },'json')
    }
</script>
