<h1 class="page_title">单据扫描</h1>
<div class="form2">
    <dl class="lineD">
        <dt>请输入员工号：</dt>
        <dd>
            <input name="scanner_number" id="scanner_number" type="text" pattern="required" value="" alt="员工号（必填）" />
            <label></label><span id="error" style="color:red;"></span>
        </dd>
    </dl>

    <div id="docheckauth" style="display:none;">
        <dl class="lineD">
            <dt>员工姓名：</dt>
            <dd>
                dsfasfasfd
            </dd>
        </dl>
        <dl class="lineD">
            <dt>扫描枪号：</dt>
            <dd>
                dsfasfasfd
            </dd>
        </dl>
    </div>

    <script>
        (function(){

            $('#scanner_number').keydown(function(e){
                if (e.key == 'enter' || e.key == 'Enter'){
                    var error = $('#error');
                    var flag = true;

                    if( $('#scanner_number').val() == '' ){
                        flag = false;
                    }

                    if($('#error-order-single')){
                        $('error-order-single').html('');
                    }

                    if($('#error-order')){
                        $('#error-order').html('');
                    }

                    if(flag){
                        $.post(
                          '{url:/orderscanner/docheckauth}',
                          {scanner_number:$('#scanner_number').val()},
                          function (tl){
                              error.html('');
                              if(tl['res'] == 'true'){
                                  $('#scanner_number').attr('disabled','disabled');
                                  $('#docheckauth').css('display','block');
                                  $('#docheckauth').html(tl['msg']);
                                  if(tl['mutiScanner'] == 'true'){
                                      $('#checkscannordersMuti').css('display','block');
                                  }else{
                                      $('#checkscannordersSingle').css('display','block');
                                  }

                              }else{
                                  error.html(tl['msg']);
                                  return false;
                              }
                        },'json');
                    }else{
                        error.html('员工号不能为空');
                        return false;
                    }
                }
            });

        })();
    </script>
</div>

<div class="form2">

    <div id="checkscannordersMuti" style="display:none;">

        <dl class="lineD">
            <dt>请输入订单号：</dt>
            <dd>
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" pattern="required" value="" alt="订单号（必填）">
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >

                <input type="text" class="orderMuti" name="order_id[]" style="width:120px">
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >

                <input type="text" class="orderMuti" name="order_id[]" style="width:120px">
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >

                <input type="text" class="orderMuti" name="order_id[]" style="width:120px">
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >
                <input type="text" class="orderMuti" name="order_id[]" style="width:120px" >
                <span id="error-order" style="color:red;"></span>
            </dd>
        </dl>
        <div style="text-align:center"><input id="submitBtn" type="submit" value="确定" ></div>

    </div>


    <div id="checkscannordersSingle" style="display:none;">
        <dl class="lineD">
            <dt>请输入订单号：</dt>
            <dd>
                <input type="text" name="order_id" id="order_id" style="width:120px" pattern="required" value="" alt="订单号（必填）" >
                <span id="error-order-single" style="color:red;"></span>
            </dd>
        </dl>

        <div id="doscannorders" style="display:none;">

            <div class="division" id="order_insert_html">

            </div>

            <table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
                <tr>
                    <input type="hidden" name="order_id" id="h_order_id" value="">
                    <input type="hidden" name="scanner_id" id="h_scanner_id" value="">
                    <td><b class="submitBtn"><input type="submit" value="确定" ></b></td>
                </tr>
            </table>
        </div>

    </div>

    <script>


        if($('#order_id')){
            $('#order_id').keydown(function(e){
                if (e.key == 'enter' || e.key == 'Enter'){
                    var error = $('#error-order-single');
                    var flag = true;
                    if(flag){
                        $.post('{url:/orderscanner/checkscannorders}',{order_id:$('#order_id').val(),scanner_type:$('#scanner_type').val()},function(tl){
                            error.html('');
                            if(tl['res'] == 'true'){
                                $.post('{url:/orderscanner/doscannorders}',{order_id:$('#order_id').val(),scanner_id:$('#scanner_id').val()},function(r){
                                    if(r['res'] == 'true'){
                                        $('#order_id').val('');
                                        if($('#scanner_type').val() != 'wait_consignor'){
                                            $('#scanner_number').attr('disabled','');
                                            $('#docheckauth').css('display','none');
                                            $('#checkscannordersSingle').css('display','none');
                                        }
                                        $('#error-order-single').html($('#order_id').val()+'操作成功!');
                                    }else{
                                        alert(r['msg']);
                                        return ;
                                    }
                                },'json');
                            }else{
                                error.html(tl['msg']);
                                return false;
                            }
                        },'json');

                    }else{
                        error.html('订单号不能为空');
                        return false;
                    }
                }
            });


        };

        if($('#submitBtn')){

            $('#submitBtn').click(function(e){
                var error = $('#error-order');
                var flag = true;
                var orderId = [];
                $('.orderMuti').each(function (){
                    if($(this).val()!=''){
                        orderId.push($(this).val());
                    }
                });

                if(flag){

                    $.post('{url:/orderscanner/checkscannorders}',{order_id:orderId,scanner_type:$('#scanner_type').val()},function(tl){
                        error.html('');
                        if(tl['res'] == 'true'){
                            $.post('{url:/orderscanner/doscannorders}',{order_id:orderId,scanner_id:$('#scanner_id').val()},function(r){
                                if(r['res'] == 'true'){
                                    $('.orderMuti').val('');
                                    if($('#scanner_type').val() != 'wait_consignor'){
                                        $('#scanner_number').attr('disabled','');
                                        $('#docheckauth').css('display','none');
                                        $('#checkscannordersMuti').css('display','none');
                                    }
                                    $('#error-order').html('订单操作成功!');
                                }else{
                                    alert(r['msg']);
                                    $('#submitBtn').attr('disabled','');
                                    return ;
                                }
                            },'json');
                        }else{
                            error.html(tl['msg']);
                            $('#submitBtn').attr('disabled','');
                            return false;
                        }
                    },'json');
                }else{
                    error.html('订单号不能为空');
                    return false;
                }
            });

        };

    </script>

</div>
        
        