{echo:JS::import('form');}
{if: $print_template}
<div class="panel">
    {list: items=$print_template}
    {$item}
    {/list}

    <div style="text-align: center;"><input class="button noprint" type="submit" onclick="window.print();" value="打印" /></div>
</div>
{/if}
<script type="text/javascript">
    if($("img.logo")){
        $("img.logo").each(function(img){
            if(img){
                img.css('display','none');
            }
        });
    }

    {if: $error_orders}

    var msg = '';

    {list: items=$error_orders}

        msg += '{$item}  <br/>';

    {/list}

    alert(msg);
    {/if}
</script>