{echo:JS::import("form")}
<div style="overflow: auto;width:900px;height: 450px;">
    <h3 class="lineD">商品信息：</h3>
    <table class="default" id="attr_values">
        {set:$total_weight = 0;}
        {set:$total_trade_price = 0;}
        {set:$total_cost_price = 0;}

        <tr><td width="40"></td><td width="120">货号</td><td>商品名</td><td width="140">规格</td><td width="60">价格</td><td width="40">数量</td><td width="60">重量</td>
            {if:$local_domain == 'zd'}
                <td width="60">成本价</td>
            {/if}
            <td width="60">批发价</td><td width="60">小计</td></tr>
        {query:name=order_goods as od domain=$domain fields=go.img,go.name,pr.pro_no,od.spec,od.goods_price,od.goods_nums,od.prom_goods,od.goods_weight,od.trade_price,od.cost_price join= left join products as pr on od.product_id eq pr.id  left join goods as go on od.goods_id eq go.id where=order_id eq $id}
        {set:$spec = unserialize($item['spec']);}
        {set:$total_weight += ($item['goods_weight']*$item['goods_nums']);}
        {set:$total_trade_price += ($item['trade_price']*$item['goods_nums']);}
        {set:$total_cost_price += ($item['cost_price']*$item['goods_nums']);}
        <tr><td><img src="{echo:Common::thumb($item['img'],100,100);}" width="40"></td><td>{$item['pro_no']}</td><td>{$item['name']}</td><td>
            {if:is_array($spec)}
            {list:items=$spec item=$ite }
            {$ite['name']}:{$ite['value'][2]}
            {/list}
            {/if}
        </td><td>{$item['goods_price']} 元</td><td>{$item['goods_nums']}</td>{set:$prom=unserialize($item['prom_goods']);}{$prom['prom']['name']}<td>{$item['goods_weight']} g</td>
            {if:$local_domain == 'zd'}
                <td>{$item['cost_price']} 元</td>
            {/if}
            <td>{$item['trade_price']} 元</td><td class="golden">{echo:sprintf("%.2f",($item['goods_price']*$item['goods_nums']))} 元</td></tr>
        {/query}
    </table>
    <h3 class="lineD mt10">购买人信息：</h3>
    <table class="default">
        {query:name=order as o domain=$domain fields=cu.real_name,us.name,us.email,cu.phone,cu.mobile,cu.addr join=left join customer as cu on o.user_id eq cu.user_id left join user as us on o.user_id eq us.id  where=o.id eq $id}
        <tr><th width="100">用户名：</th><td>{$item['name']}</td><th width="100">姓名：</th><td>{$item['real_name']}</td></tr>
        <tr><th>手机：</th><td>{$item['mobile']}</td><th>电话：</th><td>{$item['phone']}</td></tr>
        <tr><th>邮箱：</th><td>{$item['email']}</td><th> 地址：</th><td>{$item['addr']}</td></tr>
        {/query}
    </table>


    {set:$amount = $orderInfo['order_amount'];}
    <h3 class="lineD mt10">订单信息：</h3>
    <table class="default">
        <tr><th width="100">订单编号：</th><td>{$orderInfo['order_no']}</td><th width="100">下单时间：</th><td>{$orderInfo['create_time']}</td></tr>
        <tr><th>支付方式：</th><td>{$orderInfo['payname']}</td><th>支付手续费：</th><td class="golden">{$orderInfo['handling_fee']} 元</td></tr>
        <tr><th>配送方式：</th><td>{$orderInfo['exname']}</td><th>配送费用：</th><td class="golden">{$orderInfo['payable_freight']} 元</td></tr>
        <tr><th>实际配送费用：</th><td class="golden">{$orderInfo['real_freight']} 元</td></tr>
        <tr><th>应付商品总金额：</th><td class="golden">{$orderInfo['payable_amount']} 元</td><th>实付商品总金额：</th><td class="golden">{$orderInfo['real_amount']} 元</td></tr>
        {if:$orderInfo['is_invoice']==1}
        {set:$invoice = explode(':',$orderInfo['invoice_title'])}
        <tr><th>发票类型：</th><td ><b>{if:$invoice[0]==1}单位{else:}个人{/if}</b></td><th>发票抬头：</th><td ><b>{$invoice[1]}</b></td></tr>
        {/if}
        <tr><th>发票税金：</th><td class="golden">{$item['taxes']}</td><th>活动优惠金额：</th><td class="golden">{$orderInfo['discount_amount']} 元</td></tr>
        <tr><th>原订单总金额：</th><td class="golden">{echo:sprintf("%.2f",$amount)} 元 注：记订单在未调价之前的总金额</td><th>商品总重量：</th><td>{$total_weight} g</td></tr>
        <tr><th>订单折扣或涨价：</th><td>{$orderInfo['adjust_amount']|0} 元</td>

        {if:$local_domain == 'zd'}
            <th>商品总成本价：</th><td>{$total_cost_price} 元</td>
        {else:}
            <th>&nbsp;</th><td>&nbsp;</td>
        {/if}
        </tr>
        <tr><th>调整后订单总金额：</th><td><span style="display: inline-block;width: 100px" class="golden" id="order_amount">{$orderInfo['order_amount']} 元</span> 注：总金额不会小于0元</td>
            {if:$local_domain == 'zd'}
                <th>商品利润：</th><td>{set:$lirun = $total_trade_price - $total_cost_price} {$lirun} 元</td>
            {else:}
                <th>&nbsp;</th><td>&nbsp;</td>
            {/if}
        </tr>
        <tr><th>调价原因：</th><td colspan=3>{$orderInfo['adjust_note']}</td></tr>
        <tr><th>用户备注：</th><td colspan=3>{$orderInfo['user_remark']}</td></tr>
        <tr><th>管理人员备注：</th><td colspan=3>{$orderInfo['admin_remark']}</td></tr>
    </table>

    <h3 class="lineD mt10">收货人信息：</h3>
    <table class="default">
        <tr><th width="100"><b class="red">*</b>收货人姓名：</th><td>{$orderInfo['accept_name']}</td><th width="100"><b class="red">*</b>联系手机：</th><td>{$orderInfo['mobile']}</td></tr>
        <tr><th>联系电话：</th><td>{$orderInfo['phone']}</td><th>邮编：</th><td>{$orderInfo['zip']}</td></tr>
        <tr><th>收货地区：</th><td colspan=3><select id="province"  name="province" disabled >
            <option value="0">==省份/直辖市==</option>
        </select>
            <select id="city" name="city" disabled><option value="0">==市==</option></select>
            <select id="county" name="county" disabled><option value="0">==县/区==</option></select><input pattern="^\d+,\d+,\d+$" id="area" type="text" style="visibility:hidden;width:0;" value="{$orderInfo['province']},{$orderInfo['city']},{$orderInfo['county']}" alt="请选择完整地区信息！"><label></label></td></tr>
        <tr><th><b class="red">*</b>收货地址：</th><td colspan=3>{$orderInfo['addr']}</td></tr>
    </table>

    {query:name=doc_invoice domain=$domain fields=* where=order_id eq $id /}
    {set:$invoice = $items[0]; $area_ids=array($invoice['province'],$invoice['city'],$invoice['county']);$area_ids = implode(',',$area_ids);$areas=array();}
    {query:name=area where=id in ($area_ids)}
    {set:$areas[$item['id']]=$item['name']}
    {/query}

    {query:name=express_company fields=alias as exname where=id eq $invoice[express_company_id]}
    {set:$express = $items[0]}
    {/query}

    {if: $express}
    <h3 class="lineD ">发货单信息：</h3>

    <table class="default">
        <tr><th width="120">订单编号：</th><td>{$invoice['order_no']}</td><th width="120">发货单号：</th><td>{$invoice['invoice_no']}</td></tr>
        <tr><th>物流公司：</th><td class="golden">{$express['exname']}</td><th>物流单号：</th><td class="golden">{$invoice['express_no']}</td></tr>
        <tr><th width="100">收货人：</th><td>{$invoice['accept_name']}</td><th width="100">联系手机：</th><td>{$invoice['mobile']}</td></tr>
        <tr><th>联系电话：</th><td>{$invoice['phone']}</td><th>邮编：</th><td>{$invoice['zip']}</td></tr>
        <tr><th>发货时间：</th><td>{$invoice['create_time']}</td><th>发货人：</th><td>{$invoice['admin']}</td></tr>
        <tr><th>收货地址：</th><td colspan=3>{$areas[$invoice['province']]},{$areas[$invoice['city']]},{$areas[$invoice['county']]}{$invoice['addr']}</td></tr>
    </table>
    {/if}
    <h3 class="lineD mt10">订单日志：</h3>
    <table class="default">
        <tr>
            <th>操作人</th>
            <th>事件</th>
            <th>备注</th>
            <th>时间</th>
        </tr>
        {query:name=order_log domain=$domain fields=order_id,user,addtime,action,note where=order_id eq $id}
        <tr>
            <td>{$item['user']}</td>
            <td>{$item['action']}</td>
            <td>{$item['note']}</td>
            <td>{$item['addtime']}</td>
        </tr>
        {/query}
    </table>
</div>

<script type="text/javascript">
    $("#areas").Linkage({ url:"{url:/ajax/area_data}",selected:[{$orderInfo['province']},{$orderInfo['city']},{$orderInfo['county']}],callback:function(data){
        var text = new Array();
        var value = new Array();
        for(i in data[0]){
            if(data[0][i]!=0){
                text.push(data[1][i]);
                value.push(data[0][i]);
            }
        }
        $("#area").val(value.join(','));
        FireEvent(document.getElementById("area"),"change");
    }});

</script>
